.background{

  background-image: url("img/back.svg");
  background-repeat: no-repeat;
  font-family: 'Arial', 'Helvetics', sans-serif;
  background-position: center;
  background-size: cover;
  height: 300px;
}


.title{
margin-top: 40px;
font-size: 30px;
margin-left: 700px;
margin-right: auto;
position: absolute;
font-family: 'Arial', 'Helvetics', sans-serif;
color: rgb(83, 83, 83);
}

.formdiv{
margin-top:100px;
margin-left: 500px;
position: absolute;
box-shadow: rgb(204, 204, 204);
}

form {
background-color: white !important;
width: 600px;
height: 40px;
border-radius: 5px;
display: flex;
flex-direction: row;
align-items: center;
border-style: solid;
margin-left: auto;
margin-right: auto;
cursor: pointer;
border-radius: 25px;
box-shadow: 5px ;
border-collapse: collapse;
border: none;
box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%)

}

input {
background-color: white !important;
width: 510px;
height: 30px;
border-collapse: collapse;
border: 0px solid white;
outline:none;
border-right:2px solid  rgb(204, 204, 204);
font-family: 'Arial', 'Helvetics', sans-serif;
}


.search{
background-image: url(img/search-solid.svg);
background-repeat: no-repeat;
 width:20px;
 opacity:0.4;
 border-collapse: collapse;
 border: none;
 margin-left:12px;
 height:15px;
 cursor: pointer;

}

.search:hover{
opacity:0.7;
}

.resetform{
background-image: url(img/times-solid.svg);
background-repeat: no-repeat;
 width:20px;
 opacity:0.4;
 border-collapse: collapse;
 border: none;
 margin-left:12px;
 height:15px;
 cursor: pointer;
}
.resetform:hover{
opacity:0.7;
}

button.search_success {
width: 44px;
height: 44px;
}

table.tab1{
margin-left: auto;
margin-right: auto;
margin-top: 20px;
border-collapse: collapse;
font-size: 16px;
}


table.tab1 th, table.tab1 td {
width: 300px;
padding: 8px;
border-bottom: 0.5px solid rgb(204, 204, 204);

}
table.tab1 td {
color: rgb(163, 163, 163);
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
max-width: 300px;
}

table.tab1 th{
text-align: right;
}

table.tab1 th.logo{
text-align: center;

}

.profilecontent{
margin-top: 10px;
height:300px;
}

.charttab{
margin-top: 10px;
height:500px;

}

#chartcontent{
display: none;
}

#searcherror{
display: none;
}

.search_success{
display: none;
margin-left: 300px;
margin-right: 300px;
margin-top: 250px;
width:1000px;
position: absolute;
}

.error{
background-color: rgb(219, 219, 219);;
width: 600px;
height: 40px;
border-radius: 10px;
text-align: center;
margin-left: auto;
margin-right: auto;
margin-top: 300px;
padding-top: 20px;
position: absolute;
color: rgb(83, 83, 83);;
/* vertical-align: middle; */
}

.arrow{
height: 15px;
width: 15px;
vertical-align: bottom
}

.tab {

border: 1px solid  rgb(219, 219, 219);
background-color:  rgb(219, 219, 219);
color: rgb(83, 83, 83);
overflow: hidden;
}

.tab button:hover {
background-color: #ddd;
}
  
.tab button.active {
  background-color: #ccc;
}

.tab button {
font-size: 17px;
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;

}



.news { 
border-radius: 3px;
background: rgb(235, 235, 235);
height: auto;
width: 100%;
display: flex;
margin: 20px;
margin-bottom: 20px;
margin-left: 0px;
padding: 0;
border: 0;
}


p {
padding: 0;
font-size: 16px;
font-family: 'Arial', 'Helvetics', sans-serif;
border: 0;
margin: 0;  
}

.news_image {
margin: 0;
height: 100%;
width: auto;
position: absolute;
left: 50%;
top: 50%;
padding: 0;
border: 0;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.news_headline {
padding: 0;
padding-bottom: 1px;
vertical-align: top;
float: left;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
height: 60px;
margin: 0;
margin-top: 10px;
border: 0;
width: 800px;

}


p b {
padding: 0;
font-size: 16px;
font-family: 'Arial', 'Helvetics', sans-serif;
font-weight: bolder;
text-overflow: ellipsis;
border: 0;
margin: 0;
}


.list {
margin: 0;
margin-left: 15px;
margin-right: 15px;
margin-top: 10px;
padding: 0;
border: 0;
vertical-align: middle;
float: left;
width: 80px;
height: 80px;
overflow: hidden;
position: relative;
}

p span {
margin-left: 0px;
border: 0;
padding: 0;
text-overflow: ellipsis;
margin: 0;

}

.rec{
color: white;
margin-right: auto;
margin-left: auto;
margin-top: 20px;
border-collapse: collapse;
}

table.rec td{
padding-left:10px;
padding-right: 10px;
padding-top: 8px;
padding-bottom: 8px;
width:25px;
border: 0px;
font-size: 16px;
border-collapse: collapse;
}